<link rel="stylesheet" href="/css/dashboard.css">
<div class="container">
    <!-- row 1 -->
    <div class="row">
        <div class="col-12">
            <div class="user-container">
                <div>Email : <%=locals.user.email%>
                </div>
                <div>Admin : <%=locals.user.isAdmin%>
                </div>
                <div>Balance : <%=locals.user.balance%>
                </div>
            </div>
        </div>
    </div>

    <!-- row 2 -->
    <div class="row">
        <div class="col-6">
            Primium user
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">email</th>
                        <th scope="col">balance</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let user of users){ %>
                        <%if(user.isPrimiumUser){%>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <%=user.email%>
                                </td>
                                <td>
                                    <%=user.balance%>
                                </td>
                            </tr>
                        <%}%>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            Non-Primium user
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">email</th>
                        <th scope="col">balance</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let user of users){ %>
                        <%if(user.isPrimiumUser==false){%>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <%=user.email%>
                                </td>
                                <td>
                                    <%=user.balance%>
                                </td>
                                <%}%>
                                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <!-- row 3 -->
    <div class="row">
        <div class="col-6">
            <div class="payment-container">
                <a href="/user/view-transaction" class="btn btn-primary">View Transaction</a>
            </div>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>